* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
     font-family: "TT Lakes", sans-serif;
     width: 100%;
}

a {
    text-decoration: none;
    color: inherit;
}

button{
    background: none;
    border: none;
}

.title-container{
    border-top: solid 1px #D9FFF5;
    background-color: rgb(243, 243, 243);
    background: linear-gradient(to right, rgba(243, 243, 243, 1) 0%, rgba(243, 243, 243, 1) 25%, rgba(243, 243, 243, 0) 55%);
}

.title-page{
    padding: 16px;
}

.container-size{
    max-width: 1120px;
    min-width: 320px;
    margin: 0 auto;
}

.title-page__text{
    font-family: 'TT Lakes';
    font-weight: 400;
    font-size: 16px;
    color: #7E7E82;
    line-height: 24px;
    letter-spacing: -0.2px;
    text-transform: uppercase;
}

.brand-container{
	max-width:1120px;
	min-width: 320px;
    background-color: rgb(243, 243, 243);
}

.brand-page {
    width: 100%;
    height: 142px;
    overflow: hidden;
    position: relative;
}

.brand-page::before {
    content: "";
    position: absolute;
    width: 24px;
    height: 81px;
    left: 0;
    top: 0;
    pointer-events: none;
    background: linear-gradient(to right, rgba(248, 248, 248, 1), rgba(248, 248, 248, 0));
    background: -webkit-linear-gradient(to right, rgba(248, 248, 248, 1), rgba(248, 248, 248, 0));
    background: -moz-linear-gradient(to right, rgba(248, 248, 248, 1), rgba(248, 248, 248, 0));
    z-index: 2;
}

.brand-page::after {
    content: "";
    position: absolute;
    width: 24px;
    height: 81px;
    right: 0;
    top: 0;
    pointer-events: none;
    background: linear-gradient(to left, rgba(248, 248, 248, 1), rgba(248, 248, 248, 0));
    background: -webkit-linear-gradient(to left, rgba(248, 248, 248, 1), rgba(248, 248, 248, 0));
    background: -moz-linear-gradient(to left, rgba(248, 248, 248, 1), rgba(248, 248, 248, 0));
    z-index: 2;
}

.swiper {
    width: 100%;
    height: 100%;
}

.menu-list {
    display: flex;
    max-height: 150px;
    padding: 16px;
    transition: max-height 0.6s ease;
}

.menu-list.expanded {
    max-height: 1000px;
}

.menu-list__link {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.menu-list__item.swiper-slide {
    display: flex;
    flex: 0 0 240px;
    height: 72px;
    justify-content: space-between;
    align-items: center;
    background: #ffff;
    border: 1px solid #EAEAEA;
    border-radius: 6px;
    padding: 0 16px;
    margin-bottom: 24px;
}

.menu__img{
    display: block;
    max-width: 108px;
    max-height: 52px;
    width: auto;
    height: auto;
}

.menu__button{
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid #FF3E79;
    padding: 5.5px;
    transition: all 0.3s;
}

.menu__button svg{
    fill:#FF3E79
}

.menu__button:hover{
    background-color: #FF3E79;
}

.menu__button:hover svg{
    fill: white;
}

.swiper-pagination-bullet{
    --swiper-theme-color: #DDDDDD;
    width: 12px;
    height: 12px;
}

.swiper-pagination-bullet-active{
    --swiper-theme-color: #969696;
}

.open-button--hidden{
    display: none;
}

@media (min-width: 768px){

.swiper-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    padding: 24px;
    transform: none;
    margin-bottom: 30px;
}

.menu-list__item {
    margin-bottom: 0;
}

    li:nth-child(4) {
        order: 1;
    }

.open-button{
    display: flex;
    align-items: center;
    gap: 12px;
    cursor: pointer;
    margin-left: 10px;
    padding: 2px 5px;
    border: solid 1px transparent;
    transition: all 0.2s;
}

.open-button-icon{
    width: 10px;
    height: 20px;
}

.open-button__text{
    font-family: 'TT Lakes';
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
}
}

@media (min-width: 1120px){
	
.container-size{
    width: var(--container-width-md);
}
}